.noti_area {
    width: 40px;
    height: 40px;
    background-color: rgb(211, 71, 71);
    border-radius: 50%;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
  }
  
  /* .noti_count {
    color: black;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   */